name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: '17'
        distribution: 'adopt'
    # setup MySQL
    - name: Set up MySQL 8
      uses: mirromutth/mysql-action@master
      with:
        mysql version: '8.0' 
        mysql database: 'test' 
        mysql root password: password 
        # mysql user: admin 
        # mysql password: password 
    #Cache
    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    #Run Tests
    - name: Run Tests
      run: mvn -B test

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: '17'
        distribution: 'adopt'
    # setup MySQL
    - name: Set up MySQL 8
      uses: mirromutth/mysql-action@master
      with:
        mysql version: '8.0' 
        mysql database: 'test' 
        mysql root password: password 
        # mysql user: admin 
        # mysql password: password 
    # - name: Maven Package
    #   run: mvn clean package
    - name: Maven Verify
      run: mvn --batch-mode --update-snapshots verify
